a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: static;
    bottom: auto;
    width: 100%;
    white-space: normal;
    line-height: normal;
}

.navbar-custom {
    background-color: #00285b;
}
s
    .navbar-custom .navbar-brand,
    .navbar-custom .nav-link {
        color: #fff;
        font-size: 1.1rem;
        font-weight: 500;
        text-decoration: none;
        transition: color .2s ease;
    }

        .navbar-custom .nav-link:hover,
        .navbar-custom .nav-link:focus,
        .navbar-custom .nav-item.show .nav-link {
            color: #ffcc33;
        }

    .navbar-custom .dropdown-menu {
        background-color: #00336f;
        border: none;
        border-radius: 10px;
        padding: .5rem 0;
        min-width: 260px;
    }

    .navbar-custom .dropdown-item {
        color: #fff;
        font-size: 1rem;
        text-decoration: none;
        padding: .6rem 1rem;
        transition: background-color .2s, color .2s;
    }

        .navbar-custom .dropdown-item:hover,
        .navbar-custom .dropdown-item:focus,
        .navbar-custom .dropdown-item.active,
        .navbar-custom .dropdown-item:active {
            background-color: #001f45;
            color: #ffcc33;
            outline: none;
        }

    .navbar-custom.navbar-dark .navbar-toggler {
        border: none;
        background: transparent;
    }

    .navbar-custom.navbar-dark .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }

    .navbar-custom.navbar-dark .navbar-toggler:hover .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,204,51,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }

    .navbar-custom .dropdown-toggle::after {
        border-top-color: #fff;
    }

    .navbar-custom .nav-link.dropdown-toggle:hover::after {
        border-top-color: #ffcc33;
    }




