<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PSE_ICEP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PSE_ICEP.styles.css" asp-append-version="true" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-custom navbar-dark">
            <div class="container-fluid navbar-custom-container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img src="~/images/logo_completa.png" alt="Logo - Igreja Cristã Evangélica de Posse" style="height: 7vw; min-height: 95px; padding-left: 5%">
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
                        aria-controls="mainNavbar" aria-expanded="false" aria-label="Alternar navegação">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div id="mainNavbar" class="collapse navbar-collapse">
                    <ul class="navbar-nav ms-auto align-items-center">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Index">Início</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="quemSomosDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Quem Somos
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="quemSomosDropdown">
                                <li>
                                    <a class="dropdown-item" asp-page="/TransformandoGeracoes">
                                        Nossa Igreja (Transformando Gerações)
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-page="/Teologia">Teologia</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-page="/Evangelizacao">Evangelização</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Colabore">Colabore</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Contatos">Contatos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div class="container-fluid">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <footer class="site-footer">
        <p>@DateTime.Now.Year ICE - Igreja Cristã Evangélica de Posse</p>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
