@page
@model IndexModel
@{
    ViewData["Title"] = "INÍCIO";
}

<div class="index-hero">
    <img src="~/images/biblia.png" alt="Bíblia aberta">
    <h1 class="index-title">ZELO PELO ESTUDO DAS ESCRITURAS SAGRADAS</h1>
    <p class="index-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vehicula enim turpis, et feugiat arcu bibendum in. Quisque erat urna, cursus ac tellus eu, euismod pharetra magna. Integer ultricies consectetur nibh in aliquam. Vivamus ac tristique nulla. Nullam vel rhoncus odio.
    </p>
    <button class="index-button">Saiba mais</button>
</div>

<div class="index-div">
    <h1 class="index-title">PROGRAMAÇÕES SEMANAIS</h1>

    <div class="cards-container">
        <div class="card-item">
            <h2>QUARTAS-FEIRAS</h2>
            <p>Estudo Bíblico</p>
            <p>19h30</p>
        </div>
        <div class="card-item">
            <h2>SEXTAS-FEIRAS</h2>
            <p>Culto de Oração</p>
            <p>19h30</p>
        </div>
        <div class="card-item">
            <h2>DOMINGOS</h2>
            <p>Escola Bíblica</p>
            <p>09h00</p>
        </div>
        <div class="card-item">
            <h2>DOMINGOS</h2>
            <p>Culto Principal: Louvor e Adoração</p>
            <p>19h30</p>
        </div>
    </div>
</div>

